<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Concentus" version="1.1.7" targetFramework="net48" />
  <package id="Concentus.Oggfile" version="1.0.4" targetFramework="net48" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net48" />
</packages>